*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.result {
    font-size: 40px;
    font-weight: 60px;
    color: blueviolet;
}
.live-user{
    width: 25%;
    margin: 50px auto;
    box-shadow: 0 0 8px black;
    border-radius: 8px;
}
.search{
    background-color: rgb(25, 25, 254);
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}
.search input{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    opacity: 0.3;
    border: none;
    outline: none;
    color: white;
}
.card{
    background-color: white;
    border-radius: 0 0 8px 8px;
    padding-top: 10px;
}
.profile{
    display: flex;
}
.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile h4{
    font-size: 18px;
}
.card .profile{
    gap: 20px;
    padding: 8px 15px;
    height: 70px;
}